<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 配置Spring MVC -->
    <context:component-scan base-package="com.xmut.controller"/>
    <mvc:default-servlet-handler/>
    <!-- 配置注释驱动 -->
    <mvc:annotation-driven/>



    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="suffix" value=".jsp"/>
    </bean>


    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/> <!-- 配置拦截器作用的路径 -->
            <mvc:exclude-mapping path="/css/**"/> <!-- 配置不需要拦截器作用的路径 -->
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/fonts/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/admin/css/**"/>
            <mvc:exclude-mapping path="/admin/img/**"/>
            <mvc:exclude-mapping path="/admin/js/**"/>
            <mvc:exclude-mapping path="/admin/pages/**"/>
            <mvc:exclude-mapping path="/admin/plugins/**"/>
            <bean class="com.xmut.interceptor.ResourceInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>