<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.mapper.AdminMapper">

    <!-- 根据id查询管理员信息 -->
    <select id="findAdminById" parameterType="long" resultType="Admin">
        select * from t_admin where admin_id = #{id}
    </select>

</mapper>