<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.mapper.CinemaMapper">

    <!-- 新增影院 -->
    <insert id="addCinema" parameterType="Cinema">
        insert into t_cinema(cinema_name,address,picture,telephone) values(#{cinemaName},#{address},#{picture},#{telephone})
    </insert>

    <!-- 更新影院 -->
    <update id="updateCinema" parameterType="Cinema">
        update t_cinema
        <set>
            cinema_name = #{cinemaName}, address = #{address}, telephone = #{telephone},
            <if test="picture != null and picture != ''">
                picture = #{picture},
            </if>
        </set>
        where cinema_id = #{cinemaId}
    </update>

    <!--==================================== 提供给其他Mapper ====================================-->
    <select id="findEasyCinemaToSchedule" parameterType="Long" resultType="Cinema">
        select * from t_cinema where cinema_id = #{cinema_id};
    </select>
</mapper>