<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.mapper.FilmMapper">

    <!--==================================== 提供给其他Mapper ====================================-->
    <!-- ScheduleMapper：获取简单的Film信息-->
    <select id="findFilmToSchedule" parameterType="Long" resultType="Film">
        select * from t_film where film_id = #{film_id}
    </select>

</mapper>