<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.mapper.OrderMapper">
    <!-- 自定义结果集映射 -->
    <resultMap id="OrderWithUserAndSchedule" type="Order">
        <id property="orderId" column="order_id"/>
        <result property="position" column="position"/>
        <result property="amount" column="amount"/>
        <result property="orderTime" column="order_time"/>
        <result property="orderStatus" column="order_status"/>
        <!-- association来配置一对一映射 嵌套查询-->
        <association property="orderUser" column="user_id" javaType="User"
                     select="com.xmut.mapper.UserMapper.findUserById"/>
        <association property="orderSchedule" column="schedule_id" javaType="Schedule"
                     select="com.xmut.mapper.ScheduleMapper.findScheduleById"/>
    </resultMap>

    <!-- 嵌套查询方式 -->
    <select id="findOrderById" parameterType="Long" resultMap="OrderWithUserAndSchedule">
        select * from t_order where order_id = #{orderId}
    </select>

    <select id="selectAllOrders" parameterType="Long" resultMap="OrderWithUserAndSchedule">
        select * from t_order
    </select>

    <select id="selectPagedOrders" parameterType="Long" resultMap="OrderWithUserAndSchedule">
        select * from t_order order by order_time desc
    </select>


</mapper>