<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmut.mapper.RemarkMapper">
    <!-- 自定义结果集映射 -->
    <resultMap id="RemarkWithUserAndFilm" type="Remark">
        <id property="remarkId" column="remark_id"/>
        <result property="context" column="context"/>
        <result property="remarkTime" column="remark_time"/>
        <result property="score" column="score"/>
        <result property="isBought" column="is_bought"/>
        <!-- association来配置一对一映射 嵌套查询-->
        <association property="remarkFilm" column="film_id" javaType="Film"
                     select="com.xmut.mapper.FilmMapper.findFilmToOther"/>
        <association property="remarkUser" column="user_id" javaType="User"
                     select="com.xmut.mapper.UserMapper.findUserById"/>
    </resultMap>

    <!-- 新增评论 -->
    <insert id="addRemark" parameterType="Remark">
        insert into t_remark(context,remark_time,score,is_bought,film_id,user_id)
        values(#{context},#{remarkTime},#{score},#{isBought},#{filmId},#{userId})
    </insert>

    <!--根据主键remarkId删除Remark-->
    <delete id="deleteRemark" parameterType="Long">
        delete from t_remark where remark_id=#{remarkId}
    </delete>

    <!-- 嵌套查询方式 -->
    <!-- 根据remarkId查询Remark-->
    <select id="findRemarkById" parameterType="Long" resultMap="RemarkWithUserAndFilm">
        select * from t_remark where remark_id = #{remarkId}
    </select>

    <select id="selectAllRemarks" parameterType="Long" resultMap="RemarkWithUserAndFilm">
        select * from t_remark
    </select>

    <select id="selectPagedRemarks" parameterType="Long" resultMap="RemarkWithUserAndFilm">
        select * from t_remark order by remark_time desc
    </select>

    <!-- 根据userId查询相关Remark信息 -->
    <select id="selectRemarksByUserId" parameterType="Long" resultMap="RemarkWithUserAndFilm">
        select * from t_remark where user_id = #{userId}
    </select>

    <!--==================================== 提供给其他Mapper ====================================-->
    <!-- 一对多： 提供给FilmMapper -->
    <select id="remarkListToFilm" parameterType="Long" resultMap="RemarkWithUserAndFilm">
        select * from t_remark where film_id = #{film_id}
    </select>


</mapper>